@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Graphics processes are traditionally taught with the teacher drawing on the board, with their back to the class. This can make it challenging to monitor students’ progress and behaviour. G4T lessons enable teachers to deliver lessons from anywhere in the room! Teachers’ simply download the animated lessons which they can easily control through a either wireless mouse, tablet or phone. This means that teachers are free to move around the room or sit next to weaker students and offer additional support while still controlling the flow of the lesson.

    If a student is either late to class or absent, and they have access to a device, they can be emailed a video-streamed version of the lesson by their teacher to complete the same task the rest of the class is currently working on. The video-streamed lessons can also be used to set homework tasks and to help students catch up on work they may have missed. The video-streamed lessons can even be used as a simple way for teachers to leave productive and meaningful lesson activities when they are absent themselves.
</p>

<p>Resources provided on the G4T website include
<ul>
    <li>Comprehensively animated PowerPoint presentations which have been created specifically to optimise students’ understanding through relevant on-screen movement.</li>

    <li>Video streamed narrated versions of the presentations</li>

    <li>Sketch Up files which can be used to introduce students to the shapes they will be drawing</li>

    <li>PDF files of drawing templates</li>

    <li>Word files explaining the objectives of each lesson</li>
</ul>
Take a look at the free trial lessons and try running some of them with your classes.</p>
