
@{
    ViewBag.Title = "Terms & Conditions";
}

<center><strong><h2>Terms and Conditions</h2></strong></center>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br/>
            <p>Current subscribers to graphics4teachers.com (g4t) are entitled to unlimited use of all resources held on the website within the following parameters:</p><br />
            <p>Subscribers are specifically entitled to</p><br />
            <ul>
                <li>Download the PowerPoint presentations to use when instructing their classes. </li>
                <li>Use the URL lesson video links to play to their students</li>
                <li>Send the URL lesson video links to their students</li>
                <li>To download and use associated files (Sketch Up, Word & pdf) to assist lesson delivery</li>
            </ul>
            <br />
            <p>Current subscribers are not permitted to:</p>
            <ul>
                <li>share any downloaded files with colleagues or students</li>
                <li>Amend any downloaded files</li>
            </ul>
            <br />
            <p>Teachers who no longer hold a current subscription must delete all downloaded material taken from the g4t. Failure to do so is a breach of contractual agreement and is a violation of copyright which can result infringement penalties.</p>
            <br/>
            <p>Teachers and schools in possession of g4t materials that have at no point been paid subscribers to g4t are clearly violating copyright and will be subject to civil infringement penalties.</p>
        </div>
        <div class="col-md-6">
            <strong><h4>Terms of Use</h4></strong>
            <br/>
            <p>Agreement between user and g4t</p><br/>
            <p>All content is protected by intellectual property rights (copyright or other rights and laws). Subscribers recognise that the ownership of the downloaded materials remains with g4t. The g4t is offered to you conditional of your acceptance without modification of the Terms and Conditions contained herein. Your use of the g4t website constitutes your agreement to all such terms and conditions.  </p>
            <strong><h4>Privacy Policy</h4></strong>
            <br/>
            <p>g4t respects the subscribers privacy and comply with the Privacy act 1993. g4t will ensure that all personal information, if any, remains confidential. g4t may use such information in relation to providing information to the subscriber. </p>
            <br/>
            <strong><h4>Terms of Access</h4></strong>
            <br/>
            <p>Subscribers use the site at their own risk. The site may not always be available, for example, during maintenance or repair. The content in g4t is provided ‘as is’ and ‘as available’, without warranties of any kind (either expressed or implied). </p><br/>
            <p>g4t may change these terms on occasion. Using the site following these changes means you accept the changes. </p>
        </div>
    </div>
</div>

