@{
    ViewBag.Title = "Free Lessons";
}

<img src="~/images/tryfreelessons.png" class="try-free" />
@*<img src="~/images/checkout.png" class="checkout"/>*@
<a href="#">
    <img src="~/images/postit1.png" class="postit-one" />
</a>
<a href="#">
    <img src="~/images/postit2.png" class="postit-two" />
</a>
<a href="#">
    <img src="~/images/postit3.png" class="postit-three" />
</a>
<a href="#">
    <img src="~/images/postit4.png" class="postit-four" />
</a>
<a href="#">
    <img src="~/images/postit5.png" class="postit-five" />
</a>

<div class="checkout-text">
    <p>
        <strong>
            Check out the full range of lessons on the <a href="#">Site Map</a> & <a href="~/Views/Account/Register.cshtml">Subscribe </a><br />
            New lessons added regularly
        </strong>
    </p>
</div>